.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.mutationButton {
  width: min-content;
  min-width: 250px;
  margin-bottom: 2rem;
  padding: 0.8rem 1.8rem;
  color: white;
  background-color: red;
  box-shadow: #9d0000 3px 3px;
  border-style: none;
  font-weight: bold;
  font-size: 25px;
}
.drosophila {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.bodyPart {
  max-width: 300px;
  margin: 0;
  padding: 0;
}

.hide {
  visibility: hidden;
}

.title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thugTitle {
  animation: titleEntrance 0.4s ease-in;
}
//  Animations

.mutateBody {
  animation: bodyMutation 3s forwards;
}

.mutateHead {
  animation: headMutation 3s ease-out forwards;
}

.mutateButt {
  animation: buttMutation 3s ease-out forwards;
}

.unMutateBody {
  animation: bodyUnMutation 3s forwards;
}

.unMutateHead {
  animation: headUnMutation 3s ease-out forwards;
}

.unMutateButt {
  animation: buttUnMutation 3s ease-out forwards;
}

// KeyFrames

@keyframes bodyUnMutation {
  0% {
    transform: rotate(177deg) translateX(20px);
  }
  25% {
    transform: rotate(177deg) translateX(20px);
  }
  75% {
    transform: rotate(0deg) translateX(0px);
  }
  100% {
    transform: rotate(0deg) translateX(0px);
  }
}

@keyframes bodyMutation {
  0% {
    transform: rotate(0deg) translateX(0px);
  }
  25% {
    transform: rotate(0deg) translateX(0px);
  }
  75% {
    transform: rotate(177deg) translateX(20px);
  }
  100% {
    transform: rotate(177deg) translateX(20px);
  }
}

@keyframes headMutation {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-50px);
  }
  75% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes headUnMutation {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-50px);
  }
  75% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes buttMutation {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(50px);
  }
  75% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes buttUnMutation {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(50px);
  }
  75% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes titleEntrance {
  0% {
    opacity: 0;
    transform: translateX(500px);
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
